*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(18, 17, 17);
}
.card{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 20px;
    transition-delay: 0.5s;
}
.card:hover{
    width: 600px;
    transition-delay: 0.5s;
}